tabWidth: 2
useTabs: false

overrides:
  # JavaScript & MDX
  - files: "*.{js,jsx,mdx}"
    options:
      semi: true
      singleQuote: true
      trailingComma: es5

  # CSS
  - files: "*.{css,scss,sass}"
    options:
      semi: false

  # JSON
  - files: "*.json"
    options:
      singleQuote: false
      trailingComma: none

  # YAML
  - files: "*.{yml,yaml}"
    options:
      semi: false
      singleQuote: false