#sidebar-content::-webkit-scrollbar {
  width: 8px;
}

#sidebar-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

.dark #sidebar-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

#sidebar-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.dark #sidebar-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

#sidebar-content::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.dark #sidebar-content::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.nav-logo {
  max-width: 160px;
}

a:has(> .nav-logo) {
  position: relative;
  top: -4px;
}

a:has(> .nav-logo)::after {
  content: "Docs";
  position: absolute;
  bottom: -13px;
  display: block;
  font-size: 12px;
  color: rgb(var(--gray-600));
  left: 36px
}

.dark a:has(> .nav-logo)::after {
  color: rgb(var(--gray-400));
}

#footer div:last-child {
  display: none;
}

.giscus {
  margin-top: 24px;
}
